<%= render 'shared/notice_and_errors' %>

<div id="content-landing">
  <%= render 'splash_navbar' %>
  <%= render 'main' %>
  <%= render 'design_examples' %>
  <%= render 'example_albums' %>
  <%= render 'bottom_info' %>
</div>
