<div class="container sign-up-page">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <a href="/"><img class="logo" src="https://next.oneforsafety.com/apps/files_sharing/publicpreview/cxBjoyJ8EMQms27?x=3360&y=1040&a=true&file=ofs.png" width="274px"></a>

      <% if flash[:notice] %>
      <div class="notice">
        <% flash[:notice].each do |notice| %>
          <%= notice %>
        <% end %>
      </div>
      <% end %>

      <% if flash[:errors] %>
      <div class="errors">
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      </div>
      <% end %>

      <form action="<%= session_url %>" method="post" class="form-group sign-in-form">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

        <input class="form-control"
               type="text" id="user-email"
               name="user[email]"
               value="<%= @user.email %>"
               placeholder="Email">

        <input class="form-control"
               type="text" id="user-password"
               name="user[password]"
               placeholder="Password">
        <a href="<%= recovery_users_url %>" class="lost-password-link">Lost Password?</a>

        <input class="btn btn-primary login-user" type="submit" value="Login">
      </form>

      <%= link_to 'Guest Login', new_session_url(demo: "true"), { method: "get", class: "guest-login-button"} %>

    </div>
  </div>
</div>


<% if params[:demo] %>
  <script type="text/javascript">
    $(document).ready(function () {
      function fillInPassword () {
        var email = "info@oneforsafety.io".split("");
        var time = 100;
        email.forEach(function (letter) {
          time += 100;
          setTimeout(function () {
            var currentVal = $('#user-email').val();
            $('#user-email').val(currentVal + letter);
          }, time)
        })

        var startTime = email.length * 100;

        var pw = "password".split("");
        var time2 = startTime;
        pw.forEach(function (letter) {
          time2 += 100;
          setTimeout(function () {
            var currentVal = $('#user-password').val();
            $('#user-password').val(currentVal + letter);
          }, time2)
        })

        var timeToSubmit = startTime + pw.length * 100;

        setTimeout(function () {
          $('.sign-in-form').submit();
        }, timeToSubmit);
      };

      fillInPassword();
    })
  </script>
<% end %>
