Welcome to TWINKIESET.com, <%= @user.business_name %>
===============================================

Welcome to TWINKIESET.com, <%= @user.business_name %>

You have successfully signed up to TWINKIESET.com,
your username is: <%= @user.email %>.<br/>

Please activate your account by clicking here: <a href="<%= activate_users_url(activation_token: @user.activation_token) %>"><%= activate_users_url(activation_token: @user.activation_token) %></a>

Thanks for joining and have a great day!
